<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.wereaddemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_TIME" />

    <application
        android:name=".WeReadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.onyx.wereaddemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WifiDemoActivity"
            android:theme="@style/WeRead_AppTheme_FullScreen"
            />
        <activity android:name=".DateTimeDemoActivity" />
        <activity android:name=".OTADemoActivity" />
        <activity android:name=".SettingsDemoActivity" />
        <activity android:name=".RefreshModeDemoActivity" />
        <activity android:name=".bluetooth.BluetoothDemoActivity"
            android:theme="@style/WeRead_AppTheme_FullScreen"/>
        <activity android:name=".FactoryResetDemoActivity" />
    </application>

</manifest>