<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onyx.android.demo">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.onyx.android.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.onyx.android.demo.EpdDemoActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribbleMoveEraserDemoActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribbleMultipleScribbleViewActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribbleHWRActivity"/>
        <activity android:name="com.onyx.android.demo.EnvironmentDemoActivity"/>
        <activity android:name="com.onyx.android.demo.FrontLightDemoActivity"/>
        <activity android:name="com.onyx.android.demo.FullScreenDemoActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribbleTouchHelperDemoActivity"
            android:label="PenStylusTouchHelperDemoActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribbleWebViewDemoActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribbleDemoActivity"/>
        <activity android:name="com.onyx.android.demo.scribble.ScribblePenUpRefreshDemoActivity"/>
        <activity android:name="com.onyx.android.demo.AppOptimizeActivity"/>
        <activity android:name="com.onyx.android.demo.ReaderDemoActivity"/>
        <activity android:name="com.onyx.android.demo.ScreensaverActivity"/>
        <activity android:name="com.onyx.android.demo.OpenSettingActivity"/>
        <activity android:name="com.onyx.android.demo.WebViewOptimizeActivity"/>
        <activity android:name="com.onyx.android.demo.OpenKcbActivity"/>
        <activity android:name="com.onyx.android.demo.OTADemoActivity"/>
        <activity android:name="com.onyx.android.demo.DictionaryActivity"/>
        <activity android:name="com.onyx.android.demo.RefreshModeDemoActivity" />
        <activity android:name=".EacDemoActivity" />

        <provider
            android:name="com.onyx.android.sdk.common.provider.OnyxFileProvider"
            android:authorities="${applicationId}.onyx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/onyx_file_paths" />
        </provider>

    </application>

</manifest>
